.card {
  width: 450px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 5px 5px 5px;
  transform: translate(-50%, -50%);
  background-color: white;
}

.round_select {
  display: flex;
  padding: 1px 1px 0px 1px;
  margin: 0px 0px 5px 0px;
}

.select_box {
  width: 50px;
  height: 20px;
  font-size: 0.7rem;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

.result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;

  padding: 5px 5px 5px 5px;
}

.player_card {
  width: 15%;
  margin: 0px 0px 0px 0px;
}

.crown {
  position: absolute;
  top: -5px;
  margin: 0px 0px 0px -45px;
  z-index: 999;
  transform: scale(0.3);
}

.jury {
  position: absolute;
  top: -28px;
  margin: 0px 0px 0px -24px;
  z-index: 999;
  transform: scale(0.2);
}

@media (max-width: 684px) {
  .card {
    width: 320px;
    height: 110px;
    font-size: 0.5rem;
    padding: 3px 3px 3px 3px;
  }
  .round_select {
    margin: 0px 0px 3px 0px;
  }
  .select_box {
    width: 45px;
    height: 15px;
    margin: 0px 0px 0px 0px;
    font-size: 0.6rem;
    border: 1px solid black;
    border-radius: 3px;
  }
  .result {
    height: 80%;
    padding: 3px 3px 3px 3px;
  }
  .crown {
    position: absolute;
    top: -18px;
    margin: 0px 0px 0px -47px;
    transform: scale(0.21);
  }

  .jury {
    position: absolute;
    top: -41px;
    margin: 0px 0px 0px -39px;
    transform: scale(0.15);
  }
}

@media (max-width: 480px) {
  .card {
    width: 250px;
    height: 80px;
    font-size: 0.5rem;
    padding: 1px 1px 1px 1px;
  }
  .round_select {
    margin: 0px 0px 1px 0px;
  }
  .select_box {
    width: 40px;
    height: 15px;
    font-size: 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
  }
  .result {
    height: 75%;
    padding: 1px 1px 1px 1px;
  }
  .crown {
    top: -26px;
    margin: 0px 0px 0px -50px;
    transform: scale(0.16);
  }

  .jury {
    position: absolute;
    top: -51px;
    margin: 0px 0px 0px -45px;
    transform: scale(0.1);
  }
}
