.game_setting {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.game_setting .game_setting_inner {
  pointer-events: all;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  transition: all 0.2s;
}

.game_setting .game_setting_inner .player {
  position: relative;
  vertical-align: middle;
  width: 132px;
  height: 132px;
  text-align: center;
}

.game_setting .game_setting_inner .player .player_avatar {
  position: relative;
  padding: 24px 24px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.game_setting
  .game_setting_inner
  .player
  .player_avatar
  .player_avatar_background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
  background-size: contain;
}
