.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.kakao img {
  width: 450px;
  height: 70px;
  cursor: pointer;
}

.kakao img:hover {
  filter: contrast(140%);
}

@media (max-width: 768px) {
  .kakao {
    text-align: center;
  }

  .kakao img {
    width: 300px;
  }
}
