.card {
  width: 450px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 5px 5px 5px;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 100;
  background-image: url("../../../assets/images/image-log-card-background.jpg");
  background-size: cover;
}

.round_select {
  display: flex;
  justify-content: space-between;
  padding: 1px 1px 0px 1px;
  margin: 0px 0px 5px 0px;
}
.round_select .close_button {
  height: 25px;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
}

.select_box {
  width: 50px;
  height: 25px;
  font-size: 0.7rem;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  margin: 0px 0px 5px 0px;
}

.result {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 370px;
  padding: 5px 5px 5px 5px;
}

.result_trial {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 65%;
  padding: 5px 40px 5px 40px;
  transform: translate(0%, 25%);
}

.player_card {
  width: 130px;
  margin: 0px 0px 10px 0px;
  position: relative;
  animation-name: flip;
  animation-duration: 1s;
}

.result_card_back {
  width: 160px;
  margin: 0px 0px 10px 0px;
  position: relative;
  animation-name: flip;
  animation-duration: 1s;
}

.card img {
  width: 100%;
  height: 100%;
}

@media (max-width: 684px) {
  .card {
    width: 320px;
    height: 290px;
    font-size: 0.5rem;
    padding: 3px 3px 3px 3px;
  }
  .round_select {
    margin: 0px 0px 3px 0px;
  }
  .select_box {
    width: 45px;
    height: 20px;
    margin: 0px 0px 5px 0px;
    font-size: 0.6rem;
    border: 1px solid black;
    border-radius: 3px;
  }
  .result_trial {
    width: 100%;
    height: 65%;
    padding: 5px 30px 5px 30px;
    transform: translate(0%, 25%);
  }
  .result_card_back {
    width: 110px;
    margin: 0px 0px 4px 0px;
    position: relative;
  }
}

@media (max-width: 480px) {
  .card {
    width: 270px;
    height: 250px;
    font-size: 0.5rem;
    padding: 2px 2px 2px 2px;
  }
  .round_select {
    margin: 0px 0px 1px 0px;
  }
  .select_box {
    width: 40px;
    height: 20px;
    margin: 0px 0px 5px 0px;
    font-size: 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
  }
  .result_trial {
    width: 100%;
    height: 60%;
    padding: 5px 35px 5px 35px;
    transform: translate(0%, 30%);
  }
  .result_card_back {
    width: 110px;
    margin: 0px 0px 4px 0px;
    position: relative;
  }

  .result_card_back {
    width: 80px;
    margin: 0px 0px 4px 0px;
    position: relative;
  }
}

@keyframes flip {
  from {
    transform: rotateY(180deg);
  }
}
