.card {
  border-radius: 20px;
  padding: 1rem;
  color: white;
  font-size: 1rem;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  z-index: 100;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;
  background-color: #292929;
}

.button_area {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px 0px 0px;
}

.input {
  width: 95%;
  height: 40px;
  background-color: white;
  margin: 5px 0;
  border-radius: 5px;

  padding: 0.5rem;
}

.form {
  color: white;
  margin: 10px 0px 0px 0px;
}

.input_errMsg {
  color: red;
  font-size: 1rem;
}

@media (min-width: 800px) {
  .modal {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .modal {
    width: 70%;
  }
  .inputErrMsg {
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  .card {
    font-size: 0.7rem;
  }
  .inputErrMsg {
    font-size: 0.5rem;
  }
}
