.card {
  border-radius: 20px;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  z-index: 100;
  overflow: hidden;
  margin: auto;
}

.header {
  background: rgb(15, 13, 30);
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
  background: rgba(15, 13, 30);
  color: white;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background: rgba(15, 13, 30);
}

.input {
  width: 95%;
  height: 30px;
  background-color: white;
  margin: 0px 0px 5px 0px;
}

.form {
  background-color: rgba(15, 13, 30);
  color: white;
  padding: 0px 10px 0px 20px;
}

.inputErrMsg {
  color: red;
  font-size: 0.5rem;
}

@media (min-width: 800px) {
  .modal {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .modal {
    width: 70%;
  }
}
