.card {
    width: 480px;
    height: 130px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.win {
    background-color: #e5f0f4;
    color: #88bccf;
}

.lose {
    background-color: #e2b5b2;
    color: #bb605b;
}
.game {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.line {
    width: 1px;
    height: 45px;
}

.card .img_wrapper {
    display: flex;
}

.win_line {
    background-color: #63b1e4;
}

.lose_line {
    background-color: #bb605b;
}

@media (max-width: 1046px) {
    .card {
        width: 100%;
    }
}

@media (max-width: 890px) {
    .card {
        height: 125px;
    }

    .line {
        height: 60px;
    }
}

@media (max-width: 648px) {
    .card {
        height: 100px;
    }
}

@media (max-width: 520px) {
    .card .img_wrapper {
        width: 250px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}
