.select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 52%;
  transform: translate(-50%, 25%);
  background-color: rgba(0,0,0,0);
  /* border-top-right-radius: 100%; */
  /* border-top-left-radius: 100%; */
  animation-name: up;
  animation-duration: 1s;
}

.submitBtn {
  position: fixed;
  top: -50px;
  right: 0;
  font: inherit;
  border: 1px solid rgb(91, 53, 213);
  background: rgb(91, 53, 213);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.submitBtn:hover {
  background: rgb(109, 76, 218);
  border-color: rgb(109, 76, 218);
}

@keyframes up {
  0% {
    bottom: -300px;
  }

  100% {
    bottom: 0px;
  }
}

@media (max-width: 510px) {
  .select {
    left: 50%;
  }
}
