.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 2rem;
}

.navbar .logo a {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.menu_items {
  order: 2;
  display: flex;
  align-items: center;
}

.menu_items li {
  list-style: none;
  margin-left: 1.5rem;
}

.menu_items a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease-in-out;
}

.menu_items li:not(:last-child) a:hover,
.menu_items li:not(:last-child) a:focus {
  border-bottom: 2px solid #fff;
}

.menu_items li.btn a {
  background: transparent;
  color: #fff;
  border: 1px solid #f5dca8;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 500;
}

.menu_items li.btn a:hover {
  border: 1px solid #fff;
  color: black;
  background: white;
  transition: 0.4s;
}
