.container {
  /* width: 1400px; */
  max-width: 80%;
  margin: 0 10%;
  display: flex;
  /* justify-content: start; */
  justify-content: center;
  flex-wrap: wrap;

  border: 1px solid red;
}

.createButton {
  /* width: 1400px; */
  max-width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.guickStart {
  color: white;
}

.guickStart:hover {
  cursor: pointer;
}
