.myChat {
    display: flex;
    justify-content: right;
}

.otherChat {
    display: flex;
    justify-content: left;
}

.myChatting {
    padding: 5px;
    background-color: cadetblue;
    max-width: 300px;
    right: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    word-wrap: break-word;
}

.myChatting::-webkit-scrollbar {
    display: none;
}

.otherChatting {
    padding: 5px;
    background-color: burlywood;
    max-width: 300px;
    left: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    word-wrap: break-word;
}

.otherChatting::-webkit-scrollbar {
    display: none;
}

@media (max-width: 410px) {
    .myChatting {
        max-width: 90%;
    }
    
    .otherChatting {
        max-width: 90%;
    }
}