.chat_button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  background-color: rgb(25, 118, 210);
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 50%;
}

.chat_button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
